p { color: black; font-family: Verdana;font-size:5cm }
h1 {font-family: Arial Black; font-size:1cm}
h2 { color:black;font-family: Arial; font-size:0.4cm}
h3 { color: #369;font-family: Arial; font-size:16px}
h4 { color: #369;font-family: Arial; font-size:18px}
h5 { color: #369;font-family: Arial; font-size:20}
h6 { color: #369;font-family: Arial; font-size:22px}
body{background:white}