.Bloque1{
  border: solid 1px black;
background-color:black;
width:50%
}
.Bloque2{
  border: solid 1px black;
background-color:black;
width:50%
}
.Bloque3{
  border: solid 1px black;
background-color:black;
width:50%
}